@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@utility tableList {
  @apply overflow-x-auto rounded-box bg-base-100 p-1 md:min-w-xl md:max-w-3xl;
}

@utility headDetail {
  @apply overflow-visible card bg-neutral-content text-neutral rounded-box grid m-3 place-items-center text-3xl md:min-w-xl md:max-w-3xl p-5;
}